#title_page {
  padding: 15px;
}
#title_page h1 {
  font-size: 30px;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
}
#title_page h1 span {
  color: #FFD600;
}
#title_page #title_text {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  background: linear-gradient(95.96deg, #FFD600 32.9%, #FFB800 74.28%);
  color: black;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 20px;
}
#title_page img {
  width: 80%;
  border-radius: 15px;
  display: block;
  margin: 50px auto;
  max-width: 200px;
}
#title_page .mind {
  width: 60%;
}
@media screen and (max-height: 650px) {
  #title_page .mind {
    width: 40%;
    margin: 10px auto;
  }
}
#title_page .title {
  font-size: 29px;
  line-height: 30px;
  padding: 30px 0 20px;
}
@media screen and (max-height: 650px) {
  #title_page .title {
    padding: 10px 0 10px 0;
    font-size: 22px;
    line-height: 25px;
  }
}
#title_page .subtitle {
  font-size: 14px;
  display: block;
  background: #FF2727;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}
@keyframes newAnimate {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
#title_page .timer h3 {
  text-align: center;
  font-weight: 400;
}
#title_page .timer h3 span {
  color: #FFD600;
}
#title_page .affterText {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

.animated-button1 {
  background: linear-gradient(95.96deg, #FFD600 32.9%, #FFB800 74.28%);
  padding: 20px 60px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: black;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  border-radius: 10px;
  margin: 40px auto 10px auto;
  display: block;
  font-weight: 700;
  animation: newAnimate 2s ease-in-out infinite;
}

.animated-button1::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad8585;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}

.animated-button1:hover::before {
  opacity: 0.2;
}

.animated-button1 span {
  position: absolute;
}

.animated-button1 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#B09300), to(#B09300));
  background: #B09300;
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.animated-button1 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#B09300), to(#B09300));
  background: #B09300;
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
.animated-button1 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#B09300), to(#B09300));
  background: #B09300;
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.animated-button1 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#B09300), to(#B09300));
  background: #B09300;
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}


/*# sourceMappingURL=TitlePage.css.map */
