#title_page {
  padding: 25px;

  h1 {
    text-align: start;
    font-size: 22px;
    line-height: 25px;
    font-weight: 800;
    padding: 30px 0 40px;
    @media screen and (max-height: 650px){
      padding: 10px 0 10px 0;
    }
    span {
      color: #FFD600;
    }
  }

  #title_text {
    display: block;
    background: #FFD600;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-bottom: 40px;
  }

  p {
    padding: 20px;
    color: white;
    font-size: 12px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  img {
    width: 100%;
    border-radius: 15px;
    display: block;
    margin: 30px auto;
    @media screen and (max-height: 650px){
      width: 70%;
      margin: 10px auto;
    }
  }

  .mind {
    width: 60%;
    @media screen and (max-height: 650px){
      width: 40%;
      margin: 10px auto;
    }
  }

  .title {
    font-size: 29px;
    line-height: 30px;
    padding: 30px 0 20px;
    @media screen and (max-height: 650px){
      padding: 10px 0 10px 0;
      font-size: 22px;
      line-height: 25px;
    }
  }

  .subtitle {
    font-size: 14px;
    display: block;
    background: #FFD600;
    color: black;
    font-weight: 600;
    border-radius: 10px;
  }

  .button {
    background: #FFD600;
    padding: 20px 60px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    overflow: hidden;
    color: black;
    font-size: 20px;
    letter-spacing: 2.5px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    width: fit-content;
    max-width: 80vw;
    border-radius: 10px;
    margin: 0px auto;
    display: block;
    font-weight: 600;
    transform: scale(0.8);
    animation: newAnimate 2s infinite ease-in-out;
  }
  
  @keyframes newAnimate {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
    100%{
      transform: scale(0.8);
    }
    
  }

  .timer {
    h3 {
  text-align: center;
      font-weight: 400;
      span{
        color: #FFD600;
      }
    }
  }


  .affterText {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
  }
}


.animated-button1 {
  background: #FFD600;
  padding: 20px 40px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: black;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  width: fit-content;
  border-radius: 10px;
  margin: 40px auto 10px auto;
  display: block;
  font-weight: 600;
  animation: newAnimate 2s ease-in-out infinite;
}

.animated-button1::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad8585;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

.animated-button1:hover::before {
  opacity: 0.2;
}

.animated-button1 span {
  position: absolute;
}

.animated-button1 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#B09300), to(#B09300));
  background: #B09300;
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.animated-button1 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#B09300), to(#B09300));
  background: #B09300;
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.animated-button1 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#B09300), to(#B09300));
  background: #B09300;
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.animated-button1 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#B09300), to(#B09300));
  background: #B09300;
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}


/*# sourceMappingURL=button.css.map */